.list-main{
  display: flex;
  padding: 50px 0;
  gap:30px; 
  justify-content: center;
  -webkit-box-shadow: 2px 1px 25px 5px rgba(235, 230, 229, 0.2);
-moz-box-shadow: 2px 1px 25px 5px rgba(237, 231, 230, 0.2);
box-shadow: 2px 1px 25px 5px rgba(223, 217, 216, 0.2);
border-radius: 10px;
  
}

h4, h5{
  padding-bottom: 20px;
}

h4{

  font-weight: 600;
  font-size: 20px;
}

// .container{
//   max-width: 1400px;
//   margin: 0 auto;
//   display: flex;
//   gap:30px;
// }

.list {
  display: flex;
  flex-direction: column;
  width: 300px;

  justify-content: center;
  // border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 10px;



}

.list__img {

  display: flex;
  justify-content: center;
  
  height: 200px;
  margin-bottom: 20px;





}

.list__img img {

  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;

}

.img__marker {
  position: absolute;
  border-radius: 3px;
  align-items: center;
  padding: 10px;
  display: flex;
  gap: 10px;
  background: linear-gradient(#f9f9f9, #8a8a8c2b);
  top: 0px;
  right: 0px;
}

.properties ul {
  display: flex;
  gap: 10px;
  padding: 0;
}

.properties li {
  list-style: none;
  padding: 5px 10px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
}

.location-list{
  display: flex;
}

