//Fonts

$font-main: 'Ubuntu', sans-serif;
$font-accent:'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors

$dark:#3c3939;
$accent:#fc2424;
$white: #fff;
$footer-bg:#2D343C;
$muted:#E7E7E7;
$plaseholder:#BEBEBE;
$light:#faf3f3d6;

//Media
$tablet: 959px;